# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Liste commonly used libraries by Data Scientists
- Data Science Tools
- Examples of Arithmetic expresssions

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. SciPy
4. Plotly


|Data Science Tools |  
| ------ | 
| Jupyter | 
| Atom | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers. 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Vidanelage Ruwan Chinthaka De Mel